body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.menu{display: flex;
          left: 0;
          
          }
        .icon{color: gray; 
        margin-left: 50px;
      margin-top: 15px;
    display: none;}

    .icon2{color: gray; 
      margin-left: 550px;
    margin-top: 15px;
  }

    
      

          .topnav {display: none;
            overflow: hidden;
            width: 400px;
            height: 750px;
            margin-top: 45px;
            margin-left: 860px;
            position:absolute; 
            background-color:white;
          }
          .bur1{margin-top: 100px;}

          .bur2{background-color: #FF707A !important;
            border-radius: 4px;
            color: white !important;
            text-align: center;
           margin-top: 30px;
               width:200px;
               height: 50px;
               font-weight: 500;
               font-size: 10px;
              overflow: hidden;
              text-decoration: none;
            margin-top: 109px !important;}

          .topnav i {color: #6d6b72;}
          
          
          
          .topnav a {
            color:black;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 30px;
            display: block;
            margin-top: 50px;
            
          
            
          }
          
          

        .gio{width: 87.86px;
          height: 28.58px;
          top: 17.07;
          left: 160.14px;
          margin-left: 60px;}



        ul{
          width: 1265px;
          height: 45px;
          left: 0px;
          top: 0px;
          right: 0%;
           background: #FFFFFF;
          box-shadow: 0px 4px 10px rgba(0, 0, 255, 0.1);
          list-style-type: none;
           margin: 0;
           padding: 0;
           
          
           }
    
        li a{margin-top: 10px;
            margin-left: 15px;
            display:flex;
            color:
          black;
            padding:10px;
            text-decoration: none;
            text-transform: uppercase;
            width: 50px;
            font-size: 10px;}
      

        .gioo{margin-top: 8px;
          margin-left: 5px;
          background: #FF707A;
          border-radius: 4px;
          color: white;
             width: 70px;
             height: 11px;
             font-weight: 500;
             font-size: 10px;
            overflow: hidden;
            text-decoration: none;}
            .text14{margin-left: 500px;}

        .giooo{text-decoration: none;
          color: black;}


        .text1{width: 766px;
          
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 72px;;
          text-align: center;
          margin-left: 200px;
        padding-top: 50px;}

        .text2{width: 500px;
            margin-left:330px;
            margin-top: 40px;
            font-size: 21px;
            line-height: 120%;
            text-align: center;}

        .button{background-color: #FF707A;
            width: 130px;
            height: 40px; 
            margin-left: 520px;
            text-align:center;
            font-weight: 900;
            font-size: 15px;
            line-height: 39px;
            overflow: hidden;
            text-decoration: none;
            margin-top: 30px;
          border-radius: 2px;
        }
           
        .gg{text-decoration: none; color: white;padding-top: 10px;}

        .paragrap{margin-left: 535px;
                  font-size: 11px;
                color: #6d6b72;}

        .images1{
          width: 951px;
          height: 443.84px;
          left: 211px;
          top: 516px;
        margin-left: 100px;}

          .images22{display: flex;
            flex-wrap: wrap;
            justify-content: center;
            }
            .h-h{font-size: 50px;
          margin-left: 270px;}

          .p-p{margin-left:440px;
            width:440px;
            height: 50px;
            font-size: 18px;
            line-height:30px;
            color: #433A4A;
          text-align: center;}

            

              .png{margin-left: 500px;
              width: 200px;}
        
        

        .paragrap1{margin-left: 449px;
          font-size: 15px;}

        .text4{font-size: 50px;
           margin-left: 340px;
           margin-top: 50px;}


       .flax{display: flex;
      flex-wrap: wrap;}



        .box{ 
            margin-left: 230px;
            margin-top: 100px;
           
    }
          .box2{margin-left: 200px;
            margin-top: 100px;}

            .box3{margin-left: 190px;
              margin-top: 100px;
                }

              .box4{
                margin-left: 230px;
            margin-top: 100px;}  
            
                .box5{margin-left: 200px;
                  margin-top: 100px;} 
                
                .box6{
                  margin-left: 190px;
                  margin-top: 100px; } 
            
                

        .img1{width: 45px;}
        .img2{width: 45px;}
        .img3{width: 45px;}
        .img4{width: 45px;}
        .img5{width: 45px;}
        .img6{width: 45px;}
        
       


        .paragrap2{font-size: 12px;width: 140px;font-weight: bold;}
        .paragrap3{width: 180px; font-size:12px ; color: rgba(25, 14, 47, 0.8);
        line-height: 15px}
        .paragrap01{width: 150px; font-size:12px ; color: rgba(25, 14, 47, 0.8);
          line-height: 15px; margin-top: 25px;}
          .paragrap03{width: 160px; font-size:12px ; color: rgba(25, 14, 47, 0.8);
            line-height: 15px}
            .paragrap02{width: 170px; font-size:12px ; color: rgba(25, 14, 47, 0.8);
              line-height: 15px}

        .finde{width: 110px;font-weight: 20px;
        font-size: 12px;margin-top: 5px;
      color: #00AEDC;}

      .finde3{width: 110px;font-weight: 20px;
        font-size: 12px;margin-top: 27px;
      color: #00AEDC;}


        .images{margin-top: 150px;margin-left: 82px; display:flex;
        height: 400px;
      flex-wrap: wrap;}
        
        .paragrap12{margin-left: 100px;width: 400px; }
        .hh{font-size: 45px;}
        .pp{font-size: 13px;color: rgb(100, 97, 97);
        width: 320px;}
        .ii{color: #FF707A;font-size: 15px;}

        
        .text6 {
            
            margin-left: 80px;
            font-size: 25px;
            flex-wrap: wrap;
        }
        
            .text6 h6 {position:relative;
                    font-size: 12px;
                    color: #2f1e2d;
                    line-height:10px;
                    margin-top: -300px;
                    width: 500px;
                    height: 350px;
                  }
                 
        .text6 img {width: 500px;
                    margin-top: -10%;
                    margin-left: 50%;
               }


        
        
        .text7 h1 {
            margin-top: -140px;
            font-style: normal;
            font-weight: bold;
            font-size: 54px;
            line-height: 120%;
            text-align: center;
          }
         .img00{margin-left:0;width: 1200px;
        height: 280px;}
      
       
        .text9 {
            text-align: center;
          
          }
         
          .text9 h1 {
            margin-top: 50px;
            font-weight: bold;
            font-size: 50px;
            color: #190e2f;
            margin-top: 40px;
          }
         
          .text9 h3 {font-weight:bold;
            font-weight: 1000;
            font-size: 22px;
            color: #190e2f;
          }
         
          .text9 p {
            font-size: 15px;
            color: #190e2f;
          }
          
         
          .text10 {
            margin-left: 35%;
            width: 320px;
            height: 280px;
            left: 473px;
            margin-top: 50px;
             background: #FFFFFF;
             box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
             border-radius: 8px;
             
          }
         
          .text10 a {width: 500px;
            height: 700px;
            margin-top: 34px;
            margin-left: 100px;
            box-sizing: border-box;
            
            
          }
         
          .text10 h3 {
            color: #ff707a;
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 170%;
          }
         
          .text10 p {padding-left: 15px;
            text-align:left;
            font-size: 12px;
            line-height: 24px;
          }
         
          .p20{
          font-weight: bold;}
          
          .img19{width: 13px; padding-left: 2px;
          padding-right: 5px;}


            .box1 a{font-size: 13px;position:absolute;
            text-decoration: none;background-color: #FF707A; 
          width: 140px; height: 40px;
        text-align: center;
        border-radius: 2px;
      padding-top: 10px;
    color: #FFFFFF;
  margin-left: 90px;}
          
         
          .box20{
            margin-top: 80px;
            width: 1265px;
            height: 487px;
            left: 0;
            right: 0;
            background: #474F5A;
            display: flex;
            }

            .list{padding-left: 50px;
                padding-top: 100px;
                width: 64px;
                height: 28.94px;
                left: 181px;
                top: 4951.87px;
                color:#a4abad;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 50%;
                text-transform: capitalize;}

        .list li{width: 150px;
            font-weight: 300;
            font-size: 10px;
            line-height: 30px;
            list-style:none;

           }

           .list1{padding-left: 220px;
            padding-top: 100px;
            width: 64px;
            height: 28.94px;
            left: 181px;
            color:#a4abad;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 50%;
            text-transform: capitalize;
          }

            .list1 li{width: 150px;
                font-weight: 300;
                font-size: 10px;
                line-height: 30px;
                list-style:none;
                color: #a4abad;
                
               }

               .list2{padding-left: 200px;
                padding-top: 100px;
                width: 64px;
                height: 28.94px;
                left: 181px;
                top: 4951.87px;
                color:#a4abad;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 50%;
                text-transform: capitalize;
              }
    
                .list2 li{width: 150px;
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 30px;
                    list-style:none;
                    ;
                   }
       
                   .list3{padding-left: 200px;
                    padding-top: 100px;
                    width: 64px;
                    height: 28.94px;
                    left: 181px;
                    top: 4951.87px;
                    color:#a4abad;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 50%;
                    flex-wrap: wrap;
                    text-transform: capitalize;
                    }
                    


              /* second page */

          .aa{font-weight: bolder;}

          .aaa{width: 7px;height: 6px;margin-left: 3px;}

          
          .img091{
            width: 270px;
            height: 250px;
        padding-left: 60px;}

        .img091 h5{width: 370px;
          font-size: 25px;
          margin-top: 81px;}
          
        .img091 h6{width: 400px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 580;
          font-size: 14px;
          line-height: 1px;
           color: #FF707A;}

.img091 br{display: none;}

           .img091 p{
             font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            text-align: justify;
            color: rgba(25, 14, 47, 0.541);
            }
      
        
        .img08{position: absolute;
          
          width: 230px;
          height: 220px;
          margin-top: -330px;
        padding-left: 150px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.06);
        border-radius: 4px;}

          .img07{
                 width: 403px;
                 height: 391.77px;
                 margin-left: 750px;
                 margin-top:-280px;
                }

        
         .img06{
           margin-top: 100px;
           width:570px;
           margin-left: 58px;
           height: 500px;
           } 


           .img05{
                  margin-top: -510px ;
                  margin-left: 630px;
                  width: 450px;
                  height: 550px;
                }
                .img05 h4{font-family: 'Poppins';
                  font-style: normal;
                  font-weight: 600;
                  font-size: 30px;
                  line-height: 120%;
                  color: #190E2F;
                  opacity: 0.9;}

                  .img05 h6{font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 580;
                    font-size: 16px;
                    line-height: 1px;
                    color: #FF707A;}

                    .img05 p{font-family: 'Poppins';
                      font-style: normal;
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 15px;
                      text-align: justify;
                      color: rgba(25, 14, 47, 0.541)}
                  
        .img04{
               width: 500px;
               margin-top: -40px;
               margin-left: 630px;}

        .img03{width: 390px;
               margin-top:-350px;
               margin-left: 60px;}
              
          
        .img03 h4 {font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 120%;
          color: #190E2F;
          opacity: 0.9;}
          
          .img03 p{font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-align: justify;
            color: rgba(25, 14, 47, 0.541)}

            .img03-1{width: 150px;
              height: 50px;
              background-color: #FFFFFF;
              border: 1px solid #E9E9E9;
              box-sizing: border-box;
              border-radius: 8px;;
              margin-top: 40px;
            }
            .img03-1 p{font-family: 'Poppins';
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 20px;
              text-align: center;
              letter-spacing: 0.02em;
              text-transform: uppercase;
              color: #FF707A;}


      .img01{
             margin-top:180px;
             margin-left: 60px;
             width: 400px;
            width: 450px;
          height: 300px;}


      .img001{position: absolute;
             margin-top: 304px;
             margin-left:382px;
              width: 130px;
            height: 250px;}   
              
              

      .text001{
        margin-top:-325px;
        width: 420px;
      margin-left: 627px;}
        
        .h101{width: 450px;
        font-size: 30px;}

        .h1-1{width: 450px;
          font-size: 30px;}

        .h1-2{width: 450px;
          font-size: 30px;}

          .h1-3{width: 450px;
            font-size: 30px;}

        .p02{width: 270px;
        font-size: 10px;
        color: #4b4852;
        font-family:'Times New Roman', Times, serif;
         height: 40px;
        line-height: 12px;}

        .p02-2{width: 270px;
          font-size: 10px;
          color: #4b4852;
          font-family:'Times New Roman', Times, serif;
           height: 40px;
          line-height: 12px;}

          .p02-3{width: 270px;
            font-size: 10px;
            color: #4b4852;
            font-family:'Times New Roman', Times, serif;
             height: 40px;
            line-height: 12px;}

            .p02-4{width: 270px;
              font-size: 10px;
              color: #4b4852;
              font-family:'Times New Roman', Times, serif;
               height: 40px;
              line-height: 12px;}


        .p01-1{color: #FF707A;
          font-weight: 300px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 15px;
          font-weight: bold;
         line-height: 25px;}

    .p01-2{color: #FF707A;
      font-weight: 300px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 15px;
      font-weight: bold;
     line-height: 25px;}

     .p01-3{color: #FF707A;
      font-weight: 300px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 15px;
      font-weight: bold;
     line-height: 25px;}

    .p01{color: #FF707A;
         font-weight: 300px;
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
         font-size: 15px;
         font-weight: bold;
        line-height: 25px;}

   .p03{width: 260px;
        font-size: 11px;
        line-height: 20px;}



        
    
   .text002{margin-top: 140px;
            margin-left: 60px;
            width: 450px;}   
          
        
   .img002{margin-top: -390px ;
           margin-left: 630px;
           width: 450px;
          height: 350px;}

    .img003{position: absolute;
      margin-left: 907px;
      margin-top: -140px;
    width: 185px;
    height: 75px;} 
    
    .img004{position: absolute;
      margin-top: -50px;
      margin-left: 930px;
      width: 185px;
      height: 75px;}

      .img005{position: absolute;
        margin-top: -100px;
        margin-left: 640px;
        width: 160px;
        height: 195px;}

        .text003{width: 320px;
          height: 300px;
        margin-top: 150px;
      margin-left: 630px;
   }
    
      .img006{margin-top:-400px;
    margin-left: 60px;
  width: 500px;}


  .text004{margin-top: 250px;
  margin-left: 70px;}


  .img007{position: absolute;
  margin-top: -250px;
margin-left: 600px;
width: 230px;
height: 400px;}


.img008{position: absolute;
  margin-top: -250px;
margin-left: 760px;
width: 230px;
height: 400px;}
.img009{position: absolute;
margin-top: 25px;
margin-left: 819px;
width: 201.21px;
height: 54.92px;}

.box21{margin-top: 220px;
  width: 1265px;
height: 160px;
background-color: #FF707A;

}


.h102{margin-left: 200px;
color: white;
padding-top: 65px;
width: 500px;


}
.box22{width: 130px;
  height: 30px;
  margin-left: 800px;
  margin-top: -55px;
  background-color:white;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  padding-top: 10px;
}
.box22 a{font-size: 13px;
  text-decoration: none;
  color:#ff707a;
}

.learn{display: none;}

.box23{
  width: 1265px;
  height: 487px;
  left: 0;
  right: 0;
  background: #474F5A;
  display: flex;
  flex-wrap: wrap;
  }


    .list-1{padding-left: 50px;
        padding-top: 100px;
        width: 64px;
        height: 28.94px;
        left: 181px;
        top: 4951.87px;
        color:#a4abad;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 50%;
        text-transform: capitalize;}

.list-1 li{width: 150px;
    font-weight: 300;
    font-size: 10px;
    line-height: 30px;
    list-style:none;

   }

   .list-2{padding-left: 220px;
    padding-top: 100px;
    width: 64px;
    height: 28.94px;
    left: 181px;
    color:#a4abad;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50%;
    text-transform: capitalize;
  }

    .list-2 li{width: 150px;
        font-weight: 300;
        font-size: 10px;
        line-height: 30px;
        list-style:none;
        color: #a4abad;
        
       }
       .list-2 li a{width: 150px;
        font-weight: 300;
        font-size: 10px;
        line-height: 30px;
        list-style:none;
        color: #a4abad;
      margin-left: -11px;}

      .list1 li a{width: 150px;
        font-weight: 300;
        font-size: 10px;
        line-height: 30px;
        list-style:none;
        color: #a4abad;
      margin-left: -11px;}

       .list-3{padding-left: 200px;
        padding-top: 100px;
        width: 64px;
        height: 28.94px;
        left: 181px;
        top: 4951.87px;
        color:#a4abad;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 50%;
        text-transform: capitalize;
      }

        .list-3 li{width: 150px;
            font-weight: 300;
            font-size: 10px;
            line-height: 30px;
            list-style:none;
            ;
           }

           .list-4{padding-left: 200px;
            padding-top: 100px;
            width: 64px;
            height: 28.94px;
            left: 181px;
            top: 4951.87px;
            color:#a4abad;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 50%;
            flex-wrap: wrap;
            text-transform: capitalize;
            }

            




/* third page */


.menu2{
       width:1252px ;
       
       background-color:white;
       left: 0;
       right: 0;
       display: flex;
       
      }
        .p04{font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 27px;
          line-height: 120%;
          width: 65px;
          height: 29px;
        color: #FF707A;
    margin-left: 60px;
  font-family:Georgia, 'Times New Roman', Times, serif;}

.icon2{display: none;}

    .pictures1{
      display: flex;
      margin-top: 100px;
      margin-left: 39px;
      
    
  }
  .pic1{width: 400px;
  display: flex;}
  

.newdiv{display: flex !important;
  flex-wrap: wrap;
  margin-left: 40px;
}
.newdiv2{display: flex !important;
  
}
.divpic{flex-wrap: wrap;}
  

  .div{margin-top: -60px;
    
    width: 306px;
    height: 235px;
    margin-left: 47px;
    background: #FFFFFF;
    box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
    }
    .div1{margin-top: -60px;
      margin-left: 47px;
      width: 306px;
      height: 235px;
      left: 475px;
      background: #FFFFFF;
      box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
      }

      .div2{margin-top: -60px;
        width: 306px;
        height: 235px;
        margin-left: 47px;
        background: #FFFFFF;
        box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);}


    .div3{margin-top: -50px;
      margin-left: 86px;
      width: 306px;
      height: 235px;
      background: #FFFFFF;
      box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
      }
      .div4{margin-top: -50px;
        width: 306px;
        height: 235px;
        margin-left: 94px;
        background: #FFFFFF;
        box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
        }
        .div5{margin-top: -50px;
          width: 306px;
          height: 235px;
          margin-left: 95px;
          background: #FFFFFF;
          box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
          
          }

          .p001{
            margin-top: 10px;
          font-size: 12.5px;
          font-weight: bold;
          padding-left: 20px;
          width: 360px;}

.p002{
  width: 81px;
  height: 18px;
  margin-left: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #9B9EA3;}
  .p003{
    width: 172px;
    height: 20px;
    margin-left: 20px;
    top: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: rgba(25, 14, 47, 0.8);}

    .p004{
      width: 172px;
      height: 20px;
      margin-left: 20px;
      margin-top: 60px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 18px;
      color:  #00AEDC;}
      
      
      .box24{
        margin-top: 100px;
        width: 1265px;
        height: 487px;
        left: 0;
        right: 0;
        background: #474F5A;
        display: flex;
        }

       




        /* fourth page */


        
        
        
        input[type=text], select, textarea {
          width: 350px;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
          margin-left: 20px;
        }
        
        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
        }
        
        input[type=submit] {
          background-color:#F77881;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          margin-left:19px;
        }
        
        
        .container {
          
          background-color: #FFFFFF;
          padding: 20px;
          width: 420px;
          margin-left: 400px;
          border: #474F5A !important;
          box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
          border-radius: 8px;
        }
        
        .col-25 {
          float: left;
          width: 20%;
          margin-top: 6px;
        }
        
        .col-75 {
          
          width: 75%;
          margin-top: 6px;
        }
        
      .label{font-family: 'Poppins';
        font-style: normal;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.8);
        margin-left: 40px;
        margin-top: -20px;
        }
       
        .p09{
          width: 135px;
          height: 29px;
          margin-left: 150px;
          margin-top: 50px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          color: #F77881;
          }

          .h11{
            width: 379px;
            height: 50px;
            margin-left: 400px;
            margin-top: 69px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            
            color: #190E2F;
            opacity: 0.9;}




            .box2-4{
              margin-top: 100px;
              width: 1265px;
              height: 487px;
              left: 0;
              right: 0;
              background: #474F5A;
              display: flex;
              }
      

            


/* about us */

.aboutus{width: 211px;
  height: 29px;
  margin-left: 106px;
  top: 115px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #F77881;}


  ._2h{width: 943px;
    height: 104px;
    margin-left: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 77px;
    line-height: 131.3%;
    letter-spacing: 0.01em;
    color: #190E2F;;
    }

    .vid{margin-top: 250px;}

    .vid p{font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 161.3%;
      letter-spacing: 0.01em;
      margin-left: 300px;
      color: rgba(25, 14, 47, 0.8);
      width: 700px;
      
      
      }
      .vidp p{font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 161.3%;
        letter-spacing: 0.01em;
        margin-left: 30px;
        margin-top: 10px;
        
        color: rgba(25, 14, 47, 0.8);
        width: 700px;}

      .vidp{background-color: #E9E9E9;
        margin-left: 270px;width: 750px;
      height: 440px;}



      /* about us */

    .aboutus{width: 211px;
      height: 29px;
      margin-left: 106px;
      top: 115px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 120%;
      color: #F77881;}


      ._2h{width: 943px;
        height: 104px;
        margin-left: 300px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 77px;
        line-height: 131.3%;
        letter-spacing: 0.01em;
        color: #190E2F;;
        }

        .vid{margin-top: 250px;}

        .vid p{font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 161.3%;
          letter-spacing: 0.01em;
          margin-left: 300px;
          color: rgba(25, 14, 47, 0.8);
          width: 700px;
          
          
          }
          .vidp p{font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 161.3%;
            letter-spacing: 0.01em;
            margin-left: 30px;
            margin-top: 10px;
            
            color: rgba(25, 14, 47, 0.8);
            width: 700px;}

          .vidp{background-color: #E9E9E9;
            margin-left: 270px;width: 750px;
          height: 440px;}



             /* FAQs */



          .list-2 li a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 65px;
            color: #DBE3E6;
            opacity: 0.75;
            width: 400px;
        display: block;}
    
          .list1 li a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 65px;
            color: #DBE3E6;
            opacity: 0.75;
            width: 400px;
        display: block;}


.h-2-h{width: 203px;
  height: 29px;
  margin-left: 45px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #F77881;}

  .p-p-p{width: 400px;
    height: 66px;
    margin-left: 419px;
    top: 160px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: rgba(25, 14, 47, 0.8);
    
    }

     .p-p1{width: 373px;
      height: 26px;
      margin-left: 419px;
      top: 1271px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 161.3%;
      letter-spacing: 0.01em;
      color: rgba(25, 14, 47, 0.8);
      }

      .contactus{width: 160px;
        height: 60px;
        background-color: #F77881;
        border-radius: 4px;
      margin-left: 419px;}

      .contactus p{font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        padding-top: 20px;
        }

        .box2-3{
          width: 1250px;
          height: 487px;
          left: 0;
          right: 0;
          background: #474F5A;
          display: flex;
          flex-wrap: wrap;
          margin-top: 70px;
          }
        
       .box-div1{margin-top: 110px;}

       .box-div{width: 370px;
        height: 35px;
        margin-left:419px;
        margin-top: 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        font-size: 15px;
        padding-top: 10px;
        padding-left: 30px;
      

    } 
    .box-div p{margin-left: 30px;font-size: 25px;
      height: 100px;width: 500px; 
      padding-top: 50px;
    }
    .p0p{margin-left: 30px;font-size: 25px;padding-top: 50px;}

        


            .text-box{width: 400px;
              height: 200px;
              margin-left: 419px;
              top: 410px;
              background: #FFFFFF;
              box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
              border-radius: 8px;}
               

              .text-box p{width: 411px;
                height: 100px;
                margin-left: 32px;
                top: 505px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 161.3%;
                letter-spacing: 0.01em;
                color: rgba(25, 14, 47, 0.8);}


    
       
            
        
        /* media */
      

        @media screen and (max-width:575px){

          

          .text1{
            width: 575px;
            height: 160px;
            margin-left: 350px;
            font-size: 50px;
            top: 110px;
          line-height: 90px;}


            .text2{width:750px;
              font-size: 40px;
              height: 28px;
              margin-left: 260px;
              margin-top: 280px;
            text-align: center;}

            .button{width: 200px;
              height: 50px;
              line-height: 45px;
              border-radius: 4px;
              margin-top: 100px;
              margin-left: 530px;
            }
          .paragrap{width: 300px;
          font-size: 25px;
        margin-left: 510px;}

        .images{width: 600px;
        }

        .hh{
          width: 550px;
          height: 200px;
          text-align: center;
          font-size: 60px;
          margin-left: 190px;

        }

        .pp{font-size: 40px;
        width: 640px;
        margin-left: 150px;
       text-align: justify;
       text-align: 20px;
       align-items: center;}

       .ii{
         margin-left: 158px;
         font-size: 35px;
       }

        .res2{width: 600px;
        margin-left: 300px;}

        .text6{
          margin-top: 810px;}

        .text6 h1{font-size: 60px;
        width: 450px;
        margin-left: 350px}

        .text6 img{margin-left:200px !important;
          margin-top: 10px !important;
      width: 800px !important;}

        .text6 h6{margin-top: 20px;
          margin-left: 300px;
        font-size: xx-large;
        line-height: 40px;
      width: 500px;
      height:20px;
      
    }


    .text7 h1{margin-top: 130px;
      width: 690px;
      text-align: center;
    margin-left: 280px;
  font-size: 70px;}

  .text9 h1{margin-left: 450px;
  width: 350px;}

  .text9 h3{margin-left: 240px;
  width: 790px;
font-size: 45px;
align-items: center;}

  .text9 p{width: 390px;
  margin-left: 450px;
font-size: 30px;
align-items: center;}

.text10{margin-left: 490px;
margin-top: 70px;}

.box20{width: 1267px;
  height: 2000px;}

.list h6{width: 200px;
font-size: 40px;
margin-top: -40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
text-transform: capitalize;
color: #FDFEFD;
opacity: 0.75;}

.list1 h6{margin-top: 490px;
margin-left: -289px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
text-transform: capitalize;
color: #DBE3E6;
opacity: 0.75;}

.list4 h6{margin-top:650px;
margin-left: -559px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
text-transform: capitalize;
color: #DBE3E6;
opacity: 0.75;}

.list3 h6{margin-top:1870px;
  margin-left: -980px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  text-transform: capitalize;
  color: #DBE3E6;
  opacity: 0.75;}

  .list3 img{margin-left: -1089px;
  width: 400px;}




.box20{justify-content: center;
height: 2500px;}

.list h6{margin-left: -165px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  text-transform: capitalize;
  color: #DBE3E6;
  opacity: 0.75;}

.list2 h6{margin-top:1400px;
  margin-left: -725px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  text-transform: capitalize;
  color: #DBE3E6;
  opacity: 0.75;}

.list1 li{margin-left:-430px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  color: #DBE3E6;
  opacity: 0.75;
  width: 400px;}


  .list1 h6{margin-top: 900px;
    margin-left: -445px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  text-transform: capitalize;
  color: #DBE3E6;
  opacity: 0.75;}

.list2 li {
  margin-left: -730px; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  color: #DBE3E6;
  opacity: 0.75;
  width: 400px;}

.list li{margin-left: -150px;
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    color: #DBE3E6;
    opacity: 0.75;
    width: 400px;
  }
  .list3 img{margin-left: -980px;}
    
.flax{justify-content:space-around;}

  .img1{width: 300px;}
  
  .img2{width: 300px;}

  .img3{width: 300px;}

  .img4{width: 300px;}

  .img5{width: 300px;}

  .img6{width: 300px;}

  .paragrap2{width: 450px;
  font-size: 40px;}

  .paragrap01{width: 300px;
  font-size: 30px;
line-height: 30px;
}
.paragrap03{width: 300px;
  font-size: 30px;
line-height: 30px;}

  .paragrap3{width: 300px;
  font-size: 30px;
line-height: 35px;}

.finde{font-size: 30px;
width: 200px;}

.finde3{font-size: 30px;
  width: 200px;}

  .paragrap02{width: 300px;
    font-size: 30px;
  line-height: 35px;}

  .text4{width: 750px;
  font-size: 90px;
text-align: center;
margin-left: 230px;}

.h-h{width: 480px;
  font-size: 60px;
text-align: center;
margin-left: 370px;}

.p-p{width: 450px;
  height: 48px;
  margin-left: 390px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.images22{margin-left: 600px;
}

li a{display: none;}

        
.topnav{display: block;}

.icon{display: block;
margin-left: 550px;}

.box{margin-left: 260px;}

.box3{margin-left: 260px;}

.box5{margin-left: 260px;}

.box2{margin-left: 1590px;
margin-top: -730px;}

.box4{margin-left: 1590px;margin-top:-689px ;}

.box6{margin-left: 1590px;margin-top: -615px;}

.img08{display: none;}



       /* second page */


   
.img091 h5{text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 550;
  font-size: 100px;
  height: 20px;
  width: 850px;
margin-left: 160px;
line-height: 120%;}

.imgresp{margin-top: 1100px;
  margin-left: 50px;
  width: 300px;

  
}
.img091 br{display: block;}

.img091 h6{font-size: 60px;
width: 1100px;
line-height: 50px;
margin-top: -10px;
}

.img091 p{font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 65px;
  color: rgba(25, 14, 47, 0.692);
  margin-top: -110px;
  width: 780px;
  
  }

.img07{margin-top:-10px;
  margin-left: 140px;
width: 1000px;
height: 900px;}

.img05 h4{text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 550;
  font-size: 100px;
  height: 20px;
  width: 950px;
margin-left: -460px;
margin-top: -1300px;
opacity: 0.9;
line-height: 120%;}

.img06{ margin-left: 150px;
  margin-top: 1250px;
  width: 1200px;
  height: 1000px;
}

.img05 h6{font-size: 50px;
  width: 770px;
  line-height: 60px;
  margin-top: -20px;
  }

.img05 p{font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 65px;
  color: rgba(25, 14, 47, 0.692);
  width: 850px;
  margin-top: -110px;
}

.img055{margin-top: 1170px; 
margin-left: -400px;}
  

.img03 h4{margin-top: 1200px;}

.img03 h4{margin-top: -1050px;
  font-size: 80px;
  width: 650px;
  line-height: 60px;
  text-align: center;
  margin-left: 280px;
  }

.img04{margin-top:2000px;
  margin-left: 150px;
width: 1000px;
height: 800px;}

.img03 p{margin-top: 1000px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: rgba(25, 14, 47, 0.692);
  width: 900px;
  margin-left: 130px;
  
}

.img03-1{margin-top:-950px;
  margin-left: 230px;
  
  }
.img03-1 p{width: 450px;
  height: 150px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 145px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #FF707A;
background-color:white;
border: 1px solid #b8b4b4;
  box-sizing: border-box;
  border-radius: 8px;
}

.img01{margin-top: 1450px;
  margin-left: 180px;
width: 1000px;
height: 800px;}

.img001{margin-top: 1780px;
width: 350px;
height: 700px;
margin-left: 835px;}

.text001{margin-top:-1100px ;
margin-left: 350px;}

.h101{font-size: 70px;
text-align: center;
width: 600px;
}
.divtext{margin-top: 1150px;
  width: 700px;
  margin-left: -100px;
}
.p02{margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: rgba(25, 14, 47, 0.692);
  width: 900px;
  
  }

  .p03{margin-top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: rgba(25, 14, 47, 0.692);
    width: 750px;}

  .p01{margin-top: 300px;
    font-size: 80px;
    width: 950px;
    line-height: 60px;
    }

.img002{width: 1000px;
height: 800px;}

.img003{margin-top: 60px;
  width: 500px;
height: 180px;
margin-left: 1150px;}

.img004{margin-top: 280px;
  width: 500px;
  height: 180px;
  margin-left: 1250px;}

  .img005{margin-top: 100px;
    width: 350px;
    height: 580px;}

    .text002{margin-top: 1800px;
    margin-left: 350px;}

    .h1-1{margin-top: -1700px;
      font-size: 75px;
    width: 900px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #190E2F;
    opacity: 0.9;
  margin-left:-140px ;}

  .newpic{margin-top:-1750px;
    margin-left: -455px;
  width: 900px;
  height: 800px;}

  .p01-1{margin-top: 350px;
    font-size: 55px;
    width: 950px;
    line-height: 60px;}

    .p02-2{margin-top:-50px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      color: rgba(25, 14, 47, 0.692);
      width: 900px;}

      .textpp{margin-top:1100px;
      margin-left: -150px;}

      .h1-2{font-size: 65px;
      width: 700px;}

      .img006{margin-top: -200px;
      width: 1000px;
    height: 800px;
  margin-left: 150px;}

      .text-003{margin-top: 800px;
      margin-left: -100px;}

      .p01-2{margin-top: 230px;
        font-size: 45px;
        width: 950px;
        line-height: 60px;}

        .p02-3{
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 50px;
          line-height: 60px;
          color: rgba(25, 14, 47, 0.692);
          width: 900px;}

      .text003{margin-top: 1200px;
      margin-left: 300px;}

     
      .text004{margin-top: 1150px;
      margin-left: 290px;}
 
      .text-004{margin-top: 800px;
      margin-left: -100px;}

      .img008{width: 400px;
      height: 700px;}

      .img007{width: 400px;
        height: 700px;
      margin-left: 480px;}

      .img009{width: 350px;
      height: 100px;
    margin-top: 225px;
  margin-left: 860px;}

      .pic-004{
      margin-top: -720px;
    margin-left: -190px;}

    .p02-4{font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 60px;
      color: rgba(25, 14, 47, 0.692);
      width: 900px;}



    .box21{margin-top: 1000px;
    width: 1349px;
  height: 600px;
text-align: center;}

  .h102{font-size: 90px;
  width:700px ;
margin-left: 350px;}

.box22{margin-top: 100px;
width: 600px;
height: 170px;
margin-left: 400px;
border-radius: 8px;
}

.box22 a{font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 150px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FF707A;
  }

      .p01-3{font-size: 40px;
      width: 600px;
    line-height: 50px;}

      .h1-3{font-size: 65px;
        width: 700px;}


.box23{width: 1349px;
height: 2500px;}

.list-1 h6{width: 200px;
  font-size: 75px;
  margin-top: -40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  color: #FDFEFD;
  opacity: 0.75;}
  
  .list-2 h6{margin-top: 900px;
  margin-left: -289px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  text-transform: capitalize;
  color: #DBE3E6;
  opacity: 0.75;}
  
  
  .list-4 h6{margin-top:1900px;
    margin-left: -800px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    text-transform: capitalize;
    color: #DBE3E6;
    opacity: 0.75;}
  
    .list-4 img{margin-left: -800px;
    width: 500px;}
  
  
    
    .list-3 h6{margin-top:1400px;
      margin-left: -550px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 75px;
      text-transform: capitalize;
      color: #DBE3E6;
      opacity: 0.75;}
    
    .list-2 li{margin-left:-260px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 75px;
      color: #DBE3E6;
      opacity: 0.75;
      width: 400px;}
      
    
    .list-3 li {
      margin-left: -520px; 
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 65px;
      color: #DBE3E6;
      opacity: 0.75;
      width: 400px;}
    
    .list-1 li{margin-left:15px;
      font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        color: #DBE3E6;
        opacity: 0.75;
        width: 400px;
      }


      /* third page */
      

      .div3{display: none;}

      .div4{display: none;}

      .div5{display: none;}

      .pictures1{display: none;}


      .newdiv{
        margin-left: 320px;
        
      }

      .divpic img{width: 600px;
      height: 500px;}
    
      
        .div{margin-top: -110px;
          
          width: 457px;
          height: 335px;
          margin-left: 72px;
          background: white;
          box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
          }
          .div1{margin-top: -110px;
            margin-left: 72px;
            width: 457px;
            height: 335px;
            background: white;
            box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
            }
      
            .div2{margin-top: -110px;
              width: 457px;
              height: 335px;
              margin-left: 72px;
              background:white;
              box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);}


            .p001{font-size: 30px;
            width: 500px;
          line-height: 40px;
        margin-top: 30px;}

        .p002{font-size: 30px;
        width: 200px;}

        .p003{font-size: 25px;
        width: 390px;
      line-height: 30px;}

      .p004{font-size: 30px;
      margin-top: 110px;}

      .box24{width: 1350px;
      height: 2300px;}

      .p04{font-size: 90px;
      margin-left: 380px;}


/* fourth page */


        
        
        
input[type=text], select, textarea {
  width: 450px;
  height: 50px;
  padding: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-left: 20px;
  
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color:#F77881;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:19px;
  margin-top: 80px;
}


.container {
  
  background-color: #FFFFFF;
  padding: 20px;
  width: 550px;
  height: 750px;
  margin-left: 400px;
  border: #474F5A !important;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  
  width: 75%;
  margin-top: 6px;
}

.label{font-family: 'Poppins';
font-style: normal;
font-size: 25px;
line-height: 25px;
color: rgba(0, 0, 0, 0.8);
margin-left: 40px;
margin-top: -20px;
}

.p09{
  width: 235px;
  height: 29px;
  margin-left: 150px;
  margin-top: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #F77881;
  }

  .h11{
    width: 479px;
    height: 50px;
    margin-left: 410px;
    margin-top: 69px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    
    color: #190E2F;
    opacity: 0.9;}



    .box2-4{height: 2400px;}


    /* about us */

    .aboutus{width: 211px;
      height: 29px;
      margin-left: 106px;
      top: 115px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 120%;
      color: #F77881;}


      ._2h{width: 943px;
        height: 104px;
        margin-left: 300px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 77px;
        line-height: 131.3%;
        letter-spacing: 0.01em;
        color: #190E2F;;
        }

        .vid{margin-top: 250px;}

        .vid p{font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 161.3%;
          letter-spacing: 0.01em;
          margin-left: 300px;
          color: rgba(25, 14, 47, 0.8);
          width: 700px;
          
          
          }
          .vidp p{font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 161.3%;
            letter-spacing: 0.01em;
            margin-left: 30px;
            margin-top: 10px;
            
            color: rgba(25, 14, 47, 0.8);
            width: 700px;}

          .vidp{background-color: #E9E9E9;
            margin-left: 270px;width: 750px;
          height: 440px;}



             /* FAQs */



          .list-2 li a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 65px;
            color: #DBE3E6;
            opacity: 0.75;
            width: 400px;
        display: block;}
    
          .list1 li a{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 65px;
            color: #DBE3E6;
            opacity: 0.75;
            width: 400px;
        display: block;}


.h-2-h{width: 203px;
  height: 29px;
  margin-left: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #F77881;}

  .p-p-p{width: 900px;
    height: 66px;
    margin-left: 210px;
    top: 160px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: rgba(25, 14, 47, 0.8);
    }

     .p-p1{width: 373px;
      height: 26px;
      margin-left: 219px;
      top: 1271px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 161.3%;
      letter-spacing: 0.01em;
      color: rgba(25, 14, 47, 0.8);
      }

      .contactus{width: 330px;
        height: 120px;
        background-color: #F77881;
        border-radius: 4px;
      margin-left: 219px;}

      .contactus p{font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        padding-top: 50px;
        }

        .box2-3{
          width: 1350px;
          height: 2487px;
          left: 0;
          right: 0;
          background: #474F5A;
          display: flex;
          flex-wrap: wrap;
          margin-top: 70px;
          }
        
       .box-div1{margin-top: 110px;}

       .box-div{width: 670px;
        height: 100px;
        margin-left:200px;
        margin-top: 15px;
        background: #FFFFFF;
        box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        font-size: 30px;
        padding-top: 50px;
        padding-left: 30px;
      

    } 
    .box-div p{margin-left: 30px;font-size: 25px;
      height: 100px;width: 500px; 
      padding-top: 50px;
    }
    .p0p{margin-left: 30px;font-size: 25px;padding-top: 50px;}

        
          .mg1{width: 55px;
            height: 55px;
            margin-top: -190px;
            margin-left: 510px;
            
        }


            .text-box{width: 670px;
              height: 300px;
              margin-left: 200px;
              top: 410px;
              background: #FFFFFF;
              box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.06);
              border-radius: 8px;}
               

              .text-box p{width: 611px;
                height: 138px;
                margin-left: 32px;
                top: 505px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 161.3%;
                letter-spacing: 0.01em;
                color: rgba(25, 14, 47, 0.8);}

  }


   /*ტაბლეტის ვერსია ვერ გავაკეთე.მეორე მედიას როდესაც ვქმინიდი,ყოველთვის იმ მეორე მედიის მონაცდმებზე გადაყავა მობილურის მონაცემების და რევდა ყველანაირ წყობას.ლექციაზე კი გკითხავთ,მაგრამ ეს პროექტი ლექციამდე გვაქვს ცასაბარებელი*/       

  









  

    


       
    

   